apiVersion: v1
kind: Service
metadata:
  name: matrix-alertmanager
  namespace: infra-monitoring
  labels:
    app: matrix-alertmanager
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: matrix-alertmanager

