{
  "groups": {
    "group:admins": ["infra@", "operators@"]
  },
  "tagOwners": {
    "tag:pgbouncer": ["group:admins"],
    "tag:postgres": ["group:admins"],
    "tag:postfix-k8s": ["group:admins"],
    "tag:postfix-relay": ["group:admins"],
    "tag:monitoring": ["group:admins"],
    "tag:operator": ["group:admins"],
    "tag:k8s-node": ["group:admins"],
    "tag:ci": ["group:admins"]
  },
  "acls": [
    {"action": "accept", "src": ["tag:pgbouncer"], "dst": ["tag:postgres:5432"]},
    {"action": "accept", "src": ["tag:monitoring"], "dst": ["tag:postgres:9187"]},
    {"action": "accept", "src": ["tag:postfix-k8s"], "dst": ["tag:postfix-relay:25"]},
    {"action": "accept", "src": ["tag:postfix-relay"], "dst": ["tag:postfix-k8s:25"]},
    {"action": "accept", "src": ["tag:ci"], "dst": ["tag:k8s-node:6443", "tag:postgres:5432"]},
    {"action": "accept", "src": ["tag:operator"], "dst": ["*:*"]}
  ]
}
