apiVersion: v1
kind: Service
metadata:
  name: home-page
  namespace: home
  labels:
    app.kubernetes.io/name: home
    app.kubernetes.io/part-of: mother-tree
spec:
  selector:
    app.kubernetes.io/name: home
  ports:
  - name: http
    port: 80
    targetPort: 80
  type: ClusterIP
