config:
  modules:
    http_2xx_ext:
      prober: http
      timeout: 10s
      http:
        proxy_url: "socks5://blackbox:{{ env "MICROSOCKS_PASSWORD" }}@{{ env "VPN_SERVER_PRIVATE_IP" }}:1080"
        valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
        valid_status_codes: [200, 301, 302, 303, 307, 308, 401, 403]
        follow_redirects: false
        preferred_ip_protocol: "ip4"
        tls_config:
          insecure_skip_verify: false
    http_synapse_ext:
      prober: http
      timeout: 10s
      http:
        proxy_url: "socks5://blackbox:{{ env "MICROSOCKS_PASSWORD" }}@{{ env "VPN_SERVER_PRIVATE_IP" }}:1080"
        valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
        valid_status_codes: [200]
        method: GET
        fail_if_body_not_matches_regexp:
          - '"versions"'
        preferred_ip_protocol: "ip4"
