apiVersion: v1
kind: Service
metadata:
  name: admin-portal
  labels:
    app: admin-portal
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: admin-portal
